# Archivos de proyecto y base de datos generados por Quartus
db/
incremental_db/
output_files/
simulation/
*.sdf
*.qws

# Archivos de compilación y configuración de usuario
*.rpt
*.summary
*.done
*.cmp.rpt
*.pin
*.chg
*.sof
*.pof
*.smsg
*.jdi
*.jtag

# Archivos temporales
*.log
*.bak
*.bpf
*.hps
*.htm
*.html
*.qsf.bak
*.cdf
*.svf
*.bsf

# Configuración específica del usuario (por ejemplo, ventanas abiertas)
*.tcl
*.sopcinfo
*.qws

# Archivos de settings y de dependencias
quartus_sh_compile.log
*.qpf
*.qar
*.qip
*.qsf
